<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT"> <PatternLayout 
			pattern="%d %5p [%t] (%c) - %m%n" /> </Console>
	</Appenders>
	
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console" />
		</Root>
		
		<Logger name="org.springframework" additivity="TRUE" level="INFO">
            <AppenderRef ref="Console" />
        </Logger>
		
		<Logger name="org.hibernate.SQL" additivity="TRUE" level="DEBUG">
            <AppenderRef ref="Console" />
        </Logger>
	</Loggers>
</Configuration>
